<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="g.support.app">

    <application>
        <activity
            android:name="g.support.app.FragmentShellActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>
</manifest>
